p,
body,
figure {
  margin: 0;
}

ul {
  padding: 0;
}

a {
  text-decoration: none;
  color: #000;
  font-weight: bold;
}

.image-info {
  display: flex;
}
.image-info .user-image {
  width: 300px;
  height: 300px;
  border-radius: 100%;
  margin-right: 12px;
}

.border {
  border: 1px solid #000;
}

.user-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.list-style-none {
  list-style: none;
}

.spread-children-8 > li {
  padding: 0 8px;
}

.dark-bg {
  background-color: #eee;
  padding: 12px;
}

.left-up {
  padding-top: 42px;
  margin-top: -42px;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}
.flex-2 {
  flex: 2;
}

.user-components article {
  margin: 12px;
}

.user-components article p:nth-child(1) {
  font-weight: bold;
  font-size: 16px;
  padding-bottom: 12px;
}

.contact-form article * {
  flex: 1;
  margin-bottom: 8px;
}

.button-1 {
  background-color: #002147;
  border: 0;
  color: #fff;
  width: 200px;
  height: 40px;
}
.align-self-center {
  align-self: center;
}

.children-aside-16 li {
  padding-left: 16px;
}

.m-b-8 {
  margin-bottom: 8px;
}

.m-t-12 {
  margin-top: 12px;
}
